{% extends 'base.html.twig' %}

{% block title %}New PaymentInfo{% endblock %}

{% block body %}
    <h1>Create new PaymentInfo</h1>

    {{ include('payment_info/_form.html.twig') }}

    <a href="{{ path('payment_info_index') }}">back to list</a>
{% endblock %}
