body {
  padding-top: 56px;
}
a.text-primary-hover{
  color : #212529;
}
a.text-primary-hover:hover {
  color: #fed136 !important;
}
.card-footer{
  text-align: center;
}

.card a img{
  max-height: 20vh;
  width: auto;
}

.card a{
  text-align: center;
}